
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpress-perfectionnement-niveau-2/tp/1-creation-template/demarrage/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress-perfectionnement-niveau-2/tp/1-creation-template/demarrage/index.php [L]
</IfModule>

# END WordPress